body{
	background:url(../img/livro.jpg);
	background-attachment: fixed;
	background-size: 100%;
	margin: 0 auto;
	width: 100%;
	height: 1000px;
	 font-family: 'Elsie', cursive;	
}
main{
	position: absolute;
}

.video{
	width: 100%;
	position: relative;
}
.inicio-menulogo img{
	margin: 0;
	display: none;
	width:50%;
}
.dropdown button{
	display: none;
}
.dropdown ul{
	background-color: rgba(189, 195, 199,1.0);
	display: inline;
	width: 100%;
	height: 35px;
	text-align: center;
	position: fixed;
	top: 0;
	
}
a{
	text-decoration: none;
}
.dropdown li{
	float: left;
	padding-right: 30px;
	list-style: none;

}
.dropdown li:first-child{
	padding-left: 350px;
}
.parte article{
	width: 70%;
  text-align: center;
  margin:0 auto;
  padding-bottom: 100px;
  padding-top: 120px;

}
.parte{
    position: relative;
    margin: 0 auto;
    
    background-attachment: fixed;
    
}
#parallax{
	background-image: url(../img/inicio.jpg);
	height: 300px;
	width: 70%;
	margin: 0 auto;
	background-attachment: fixed;
	background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
}
#para{
	background-image: url(../img/jabulindo.jpeg);
	-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
    box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}
#desenv{
	background-image: url(../img/land.jpg);
}

article h1 {
	font-size:40px;
	text-align: center; 
}
article p {line-height: 30px; font-size:20px; margin-top:15px;}
article p a {color:#FFF; text-decoration:none; font-size:30px;}